<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MY BOOKS</a>
        <div th:if="${user == null}">
            <a href="/login" class="btn btn-primary">로그인</a>
            <a href="/signup" class="btn btn-outline-primary">회원가입</a>
        </div>
        <div th:if="${user != null}">
            <span th:text="${user.name + '님 환영합니다'}"></span>
        </div>
    </div>
</nav>
</body>
</html>