<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<nav th:fragment="pagination" class="d-flex justify-content-center" th:if="${page != null}">
    <ul class="pagination">
        <!--
        num에 1이 없으면 << 버튼이 있어야 함
        num에 마지막 페이지가 없으면 >> 버튼이 있어야 함.

        num을 만드는 기준
        from, to
        max(1, 현재 페이지 -2) ~ min(마지막 페이지, 현재 페이지 +2)
         -->
        <li class="page-item" th:if="${page.currentPage >= 4}">
            <a class="page-link" th:href="${util.getQueryStringChangedUri('page','1')}">
                <i class="fa-solid fa-angles-left"></i>
            </a>
        </li>

        <li class="page-item" th:if="${page.totalPage > 5}" th:classappend="${num == page.currentPage}? active"
            th:each="num : ${#numbers.sequence( util.max(1, page.currentPage-2), util.min(page.totalPage, page.currentPage+2))}">
            <a class="page-link" th:href="${util.getQueryStringChangedUri('page',num)}" th:text="${num}">a</a>
        </li>

        <li class="page-item" th:if="${page.currentPage + 2 < page.totalPage}">
            <a class="page-link" th:href="${util.getQueryStringChangedUri('page', page.totalPage)}">
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>