.book-item{
    margin: .5rem;
    width: 18rem;
}

.search-bar{
    max-width: 20rem;
}

.small-form-container{
    min-width: 20rem;
}

.btn-review-form {
    max-width: 7rem;
    margin: 0.3rem;
}

.btn-review-edit{
    color:darkgray;
    background: transparent;
    border: transparent;
}

.btn-review-edit:hover{
    color: black;
}


