<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book list</title>
</head>
<body>
<div>
    <h2>#{user name} 님의 책 리스트</h2>
</div>
<div>
    <label for="search-book-input"></label>
    <input type="text" id="search-book-input" name="search-book"/>
    <button type="button" id="search-button">검색</button>
</div>
<div>
    <button type="button" id="add-book-button">추가</button>
</div>
<div>
    <div>
        부트스트랩으로 카드 만들기
    </div>
</div>
<div>
    paging 그냥 버튼 여러개로
</div>
</body>
</html>