<!DOCTYPE html>
<html lang="ko">
<head th:replace="(~{fragments/head :: head})">
    <title>MY BOOKS : 책 추가</title>
</head>
<body>
<nav th:replace="(~{fragments/nav :: nav})"></nav>
<div class="container mt-5">
    <div class="row">
        <form name="/book-search" method="get">
            <div class="input-group search-bar">
                <input type="text" name="query" class="form-control" placeholder="책 제목" aria-label="book-name">
                <button type="submit" class="input-group-text">검색</button>
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <div class="card book-item" th:each="book : ${books}">
            <img th:src="${book.thumbnail}" class="card-img-top" alt="book image" src="#">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.title}">Book Name</h5>
                <p class="card-text" th:text="${book.concatenateAuthors() + ' | ' + book.publisher}">작가 | 출판사</p>
                <a href="https://www.naver.com" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="alert alert-primary" role="alert" th:if="${books == null || books.size() == 0}">
        검색 결과가 없습니다. 검색어를 다시 입력해주세요.
    </div>
</div>
<nav th:replace="(~{fragments/pagination :: pagination})"></nav>
</body>
</html>