<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
    <title>MY BOOKS</title>
</head>
<body class="vh-100">
<nav th:replace="fragments/nav :: nav"></nav>
<div class="d-flex justify-content-center align-items-center h-100">
    <main class="small-form-container">
        <a href="/login" class="form-control btn btn-primary m-1">로그인</a>
        <a href="/signup" class="form-control btn btn-secondary m-1">회원가입</a>
    </main>
</div>
<script type="text/javascript" src="../static/bootstrap/bootstrap.min.js"></script>
</body>
</html>