<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/head :: head})">
    <title>#{book name}</title>
</head>
<body>
<nav th:replace="(~{fragments/nav :: nav})"></nav>
<div class="container mt-5 w-75">
    <div class="row">
        <article>
            <header class="mb-4">
                <h1 class="fw-bolder mb-1" th:text="${review.bookTitle}"></h1>
                <div class="text-muted fst-italic mb-2" th:text="${'Posted on ' + review.modifedAt}">Posted on January
                    1, 2023
                </div>
                <div class="d-flex justify-content-end">
                    <a class="anchor-review-edit" th:href="@{/review/edit(id=${review.id})}">수정</a>
                    <a class="anchor-review-edit" th:href="@{/review/remove(id=${review.id})}">삭제</a>
                </div>
            </header>
            <textarea class="form-control" readonly rows="20" cols="50" aria-label="content"
                      th:text="${review.content}"></textarea>
        </article>
    </div>
</div>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
</body>
</html>