<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/head :: head ('MY BOOKS : 책 리스트')})">
    <title>MY BOOKS : 책 리스트</title>
</head>
<body>
<nav th:replace="(~{fragments/nav :: nav})"></nav>
<div class="container">
    <div class="row text-center mt-4">
        <h2 class="col" th:text="${user.name + '님의 책 리스트'}">XXX 님의 책 리스트</h2>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="input-group search-bar">
                <input type="text" class="form-control" placeholder="책 제목" aria-label="book-name">
                <button class="input-group-text">검색</button>
            </div>
        </div>
        <div class="offset-5 col-md-1">
            <a href="/book-search" class="btn btn-primary">추가</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="card book-item" th:each="review : ${reviews}">
            <img th:src="${review.thumbnail}" class="card-img-top mt-1" alt="book image" src="#">
            <div class="card-body">
                <h5 class="card-title" th:text="${review.bookTitle}">Book Name</h5>
                <p class="card-text" th:text="${util.getPreviewOfContent(review.content)}">Review 요약</p>
                <a th:href="@{/reviews/{id}(id=${review.id})}" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>
<nav th:replace="(~{fragments/pagination :: pagination})"></nav>
<th:block th:replace="(~{fragments/common-scripts :: common-scripts})"></th:block>
</body>
</html>