<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/head :: head (${review.bookTitle})})">
    <title>${book name}</title>
</head>
<body>
<nav th:replace="(~{fragments/nav :: nav})"></nav>
<div class="container mt-5 w-75">
    <div class="row">
        <form id="review-form" th:action="@{/review/edit(id=${review.id})}" method="post">
            <header class="mb-4">
                <h1 class="fw-bolder mb-1" th:text="${review.bookTitle}">BOOK TITLE</h1>
            </header>
            <textarea class="form-control" rows="20" aria-label="content" name="content" th:text="${review.content}"></textarea>
        </form>
    </div>
    <div class="row justify-content-end m-0 mt-2">
        <button id="backwardButton" class="btn btn-secondary btn-review-form">취소</button>
        <button id="submitButton" class="btn btn-primary btn-review-form">수정 완료</button>
    </div>
</div>
<th:block th:replace="(~{fragments/common-scripts :: common-scripts})"></th:block>
<script type="text/javascript" th:src="@{/js/review-edit.js}"></script>
</body>
</html>