<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/head :: head})">
    <title>#{book name}</title>
</head>
<body>
<nav th:replace="(~{fragments/nav :: nav})"></nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">BOOK NAME</h1>
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2023</div>
                </header>
                <textarea class="form-control" readonly rows="20" cols="50" aria-label="content">1234</textarea>
            </article>
        </div>
    </div>
</div>
<footer>

</footer>
<script type="text/javascript" src="../static/bootstrap/bootstrap.min.js"></script>
</body>
</html>