<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="(~{fragments/head :: head})">
    <title>#{book name}</title>
</head>
<body>
<nav th:replace="(~{fragments/nav :: nav})"></nav>
<div class="container mt-5" style="width: 100vh">
    <div class="row" style="">
        <div class="col-md-12">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">BOOK NAME</h1>
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2023</div>
                </header>
                <textarea class="form-control" rows="20" aria-label="content">1234</textarea>
            </article>
        </div>
    </div>
    <div class="row justify-content-end m-0 mt-2">
        <button class="btn btn-secondary" style="max-width: 7rem; margin-right: 0.7rem">취소</button>
        <button class="btn btn-primary" style="max-width: 7rem">수정 완료</button>
    </div>
</div>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
</body>
</html>