<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>MY BOOKS : 회원가입</title>
</head>
<body class="vh-100">
<nav th:replace="fragments/nav :: nav"></nav>
<div class="d-flex justify-content-center align-items-center h-100">
    <main class="small-form-container">
        <form action="/signup" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text w-30">이메일</span>
                <input class="form-control" type="email" id="email-input" name="email" aria-label="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text w-30">이름</span>
                <input class="form-control" type="email" id="name-input" name="name" aria-label="name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text w-30">비밀번호</span>
                <input class="form-control" type="password" id="password-input" name="password" aria-label="password">
            </div>
            <button type="submit" class="form-control btn btn-primary m-1">회원가입</button>
        </form>
    </main>
</div>
<script type="text/javascript" src="../static/bootstrap/bootstrap.min.js"></script>
</body>
</html>