<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MY BOOKS : 회원가입</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/custom.css"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>
<body class="vh-100">
<div class="d-flex justify-content-center align-items-center h-100">
    <main class="small-form-container">
        <div class="text-center">
            <h2>MY BOOKS</h2>
        </div>
        <div>
            <form action="/signup" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text w-30">이메일</span>
                    <input class="form-control" type="email" id="email-input" name="email" aria-label="email">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text w-30">이름</span>
                    <input class="form-control" type="email" id="name-input" name="name" aria-label="name">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text w-30">비밀번호</span>
                    <input class="form-control" type="password" id="password-input" name="password" aria-label="password">
                </div>
                <button type="submit" class="form-control btn btn-primary m-1">회원가입</button>
            </form>
        </div>
    </main>
</div>
<script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
</body>
</html>